@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#F1F333];
}

@layer components {
  .connect-btn {
    @apply py-3 bg-[#FF90E8] w-[200px] rounded-[20px] shadow-[9px_6px_0px_#000000] mr-[40px] uppercase;
  }

  .mainpage-btn {
    @apply py-3 bg-[#F4F4F0] w-[293px] flex justify-center items-center rounded-[17px] shadow-[9px_8px_0px_#000000] mt-11 text-[25px];
  }
  .green-btn {
    @apply bg-[#7dea95] px-3 py-3 mt-8 text-lg border-black border-2 rounded-[18px] hover:shadow-[8px_8px_0px_#000000] shadow-[4px_4px_0px_#000000];
  }
}

.hide {
  display: none;
}

.outline-title {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
